@use '../../../styles/tokens' as *;

.toggles {
  display: flex;
  gap: $space-4;
  color: var(--color-text-secondary);

  @include text-small;
}

.toggle {
  display: flex;
  align-items: center;
  gap: $space-1;

  @include interactive;
}
